@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.maxContainer {
  max-width: 100rem;
  margin: 0 auto;
}

.maxSection {
  max-width: 80rem;
  margin: 0 auto;
}

.auth-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("./assets/auth_back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  background-color: #0DD983;
  color: #fff;
}

@font-face {
  font-family: 'Carena-Regular';
  src: url('./fonts/Carena-Regular.otf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'Uncut-Sans-VF';
  src: url('./fonts/Uncut-Sans-VF.ttf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'Uncut-Sans-Regular';
  src: url('./fonts/Uncut-Sans-Regular.otf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('./fonts/HKGrotesk-Regular.otf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('./fonts/HKGrotesk-Medium.otf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}

.care {
  font-family: 'Carena-Regular', sans-serif;
}

.pops {
  font-family: 'Poppins', sans-serif;
}

.uncut {
  font-family: 'Uncut-Sans-VF', sans-serif;
}

.uncut-regular {
  font-family: 'Uncut-Sans-Regular', sans-serif;
}

.grotest {
  font-family: 'HKGrotesk-Regular', sans-serif;
}

.grotest-medium {
  font-family: 'HKGrotesk-Medium', sans-serif;
}